
<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src="/static/script.js"></script> 

<style>
    .mapboxgl-marker {
        height: 20px;
        width: 20px;
        z-index: 5;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #305bad;
    }
</style>

</head>

<body>
    <div id='map' style='width: 400px; height: 300px;'></div>


</body>

<script src="/static/map.js"></script> 